/***********************
Behavioural Pseudo-Class
************************
1. when hover
2. when clicked
3. after visited
*/

a:hover{
    color: red;
}

a:active{
    color: orange;
}

a:visited{
    color: purple;
}
